Repository apiflask/apiflask, pull requests merged in 2022-05, with the labels that each got.

#251 Update requirements and tests
  requirements/dev.txt
  requirements/docs.txt
  requirements/examples.txt
  requirements/tests.in
  requirements/tests.txt
  requirements/typing.txt
  src/apiflask/app.py
  tests/test_app.py
  tests/test_decorator_output.py
Labels: dependencies

#261 Rework error handling docs
  docs/error-handling.md
Labels: docs

#263 Add docs for request handling
  docs/api/fields.md
  docs/api/validators.md
  docs/docs.md
  docs/request.md
  docs/usage.md
  mkdocs.yml
Labels: docs

#267 Add docs for response formatting
  docs/docs.md
  docs/request.md
  docs/response.md
  docs/usage.md
  mkdocs.yml
  src/apiflask/fields.py
  src/apiflask/helpers.py
  src/apiflask/schemas.py
Labels: docs

#270 Add docs for data schema
  docs/docs.md
  docs/schema.md
  docs/usage.md
  mkdocs.yml
Labels: docs

#272 Add docs for authentication support
  docs/authentication.md
  docs/comparison.md
  docs/docs.md
  docs/request.md
  docs/response.md
  docs/schema.md
  docs/security.md
  docs/usage.md
  mkdocs.yml
Labels: docs

#278 fix typo in docs/schema.md
  docs/schema.md
Labels: docs

#281 fix typo in openapi.md
  docs/openapi.md
Labels: docs

#284 Fix incorrect admonition types
  docs/error-handling.md
  docs/openapi.md
  docs/request.md
  docs/schema.md
  docs/usage.md
Labels: docs

#289 Ensure doc, auth_required, and input will run ensure_async
  src/apiflask/scaffold.py
  tests/test_async.py
Labels: bug

#300 Fix typo in docs/request-handling
  docs/error-handling.md
Labels: docs

#302 Add the missing path/view_args request location
  CHANGES.md
  docs/request.md
  docs/usage.md
  src/apiflask/scaffold.py
Labels: bug
